.dataTable {
    border: 1px solid #E6E6E6;
    border-collapse: collapse;
    font-size:12px;
}

.dataTable tbody tr:hover td {
    background-color:#2471AA;
    color: #FFFFFF;
}

.dataTable th {
    padding: 4px 6px 4px 6px;
    margin: 0px;
}

.dataTable td  {
    padding: 8px 8px 8px 8px;
    margin: 0px;
}

.dataTable thead th {
    background-color: #90AEC3;
    border-image: none;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 12px;
    height: 20px;
    margin-bottom: 0;
    text-align: left;
    vertical-align: middle;
}

.hor-minimalist-b_row1 {
    background-color: #FFFFFF;
}

.hor-minimalist-b_row2 {
    background-color: #F4F4F4;
}
.hor-minimalist-b_row-bold {
    font-weight:bold
}